/*-----------------------------------------------
	Header e Menu
-----------------------------------------------*/
header#menu {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 100;
}
header#menu .barra-menu {
  position: relative;
  padding: 26px 0 24px 0;
  z-index: 100;
  background-color: #005282;
}
header#menu .barra-menu button {
  float: right;
}
header#menu nav {
  position: absolute;
  /*display:block;*/
  /*top:0;*/
  display: none;
  top: -700px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #005282;
  z-index: 90;
  margin: 0;
  padding: 0 0 0 0;
}
header#menu nav #ul-colunas #li-esquerda ul li a:hover {
  color: #2dc4db;
}
header#menu nav #ul-colunas #li-direita ul li a:hover {
  color: #2dc4db;
}
@media only screen and (min-width: 320px) {
  header#menu nav #ul-colunas {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style: none;
    display: block;
    width: 100%;
  }
  header#menu nav #ul-colunas #li-esquerda {
    margin: 0;
    padding: 100px 0 30px 0;
  }
  header#menu nav #ul-colunas #li-esquerda .lang {
    margin: 0 0 10px 0;
  }
  header#menu nav #ul-colunas #li-direita {
    margin: 0;
    padding: 50px 0 30px 0;
  }
  header#menu nav #ul-colunas #li-esquerda {
    background: #005282;
  }
  header#menu nav #ul-colunas #li-direita {
    background: #004a76;
  }
  header#menu nav #ul-colunas #li-esquerda ul {
    margin: 0 0 0 30px;
    padding: 0;
    list-style: none;
  }
  header#menu nav #ul-colunas #li-esquerda ul li {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  header#menu nav #ul-colunas #li-esquerda ul li a {
    font-size: 3.1em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.4em ;
    font-family: 'Open Sans', sans-serif;
  }
  header#menu nav #ul-colunas #li-direita p {
    margin: -15px 0 0 30px;
    color: #2dc4db;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    text-transform: uppercase;
  }
  header#menu nav #ul-colunas #li-direita ul {
    margin: 0 0 47px 30px;
    padding: 0;
    list-style: none;
  }
  header#menu nav #ul-colunas #li-direita ul li {
    margin: 0;
    padding: 0;
  }
  header#menu nav #ul-colunas #li-direita ul li a {
    font-size: 3.3em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.5em ;
    font-family: 'Open Sans', sans-serif;
  }
}
@media only screen and (min-width: 480px) {
  header#menu nav #ul-colunas #li-esquerda ul li a {
    font-size: 4.1em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.4em ;
    font-family: 'Open Sans', sans-serif;
  }
}
@media only screen and (min-width: 750px) {
  header#menu nav #ul-colunas {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style: none;
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  header#menu nav #ul-colunas #li-esquerda .lang {
    margin: -40px 0 40px 0;
  }
  header#menu nav #ul-colunas #li-esquerda,
  header#menu nav #ul-colunas #li-direita {
    margin: 0;
    padding: 200px 0 100px 0;
    display: table-cell;
  }
  header#menu nav #ul-colunas #li-esquerda,
  header#menu nav #ul-colunas #li-direita {
    margin: 0;
    padding: 200px 0 100px 0;
  }
  header#menu nav #ul-colunas #li-esquerda ul {
    margin: 0 72px 0 0;
    padding: 0;
    list-style: none;
    float: right;
  }
  header#menu nav #ul-colunas #li-esquerda ul li {
    margin: 0;
    padding: 0;
    text-align: right;
  }
  header#menu nav #ul-colunas #li-direita p {
    margin: -15px 0 0 72px;
    color: #2dc4db;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    text-transform: uppercase;
  }
  header#menu nav #ul-colunas #li-direita ul {
    margin: 0 0 47px 72px;
    padding: 0;
    list-style: none;
  }
}
/*-----------------------------------------------
Header e Menu - Fim
-----------------------------------------------*/
