/* -----------------------------------------------------
  Media Query Exemplos
  -----------------------------------------------------

@media only screen and (min-width: 320px) {}
@media only screen and (min-width: 480px) {}
@media only screen and (min-width: 600px) {}
@media only screen and (min-width: 768px) {} //col-sm
@media only screen and (min-width: 830px) {}
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 1382px) {}
*/   


/*-----------------------------------------------------
Fontes
-----------------------------------------------------*/
.texto-montserrat {font-family: 'Montserrat', sans-serif;}
.texto-openSans {font-family: 'Open Sans', sans-serif;}

.azul-texto {color:#005282}
.branco-texto {color:#fff}

/*-----------------------------------------------------
	Tamanho dos textos
  -----------------------------------------------------*/  

  @tamanhoBase:62.5%; /*Tamanho base para os textos em (em), deve ser atribuído ao body do HTML.
  Isso faz que 1em seja equivalente a 10px. Para transformar basta contar
  uma casa para esquerda e colocar um ponto (.). Para textos de 14px
  ficaria 1.4em para 36px ficaria 3.6em
  ----------------------------------------------------------------------*/

html,
body {
    font-size: @tamanhoBase;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
a {text-decoration: none;}
p {.texto-openSans;.azul-texto;font-size: 2em;}
/*main {padding: 20px;}*/

.tempoDeTransicao (@tempo: 1s) {
    -webkit-transition: @tempo ease-in-out;
    -moz-transition: @tempo ease-in-out;
    -o-transition: @tempo ease-in-out;
    transition: @tempo ease-in-out;
}





@import url("_styleHambComponente.css");
@import url("_styleMenu.less");
@import url("_styleBotoneira.less");
@import url("_styleFaleComAGente.less");
@import url("_styleFooter.less");
@import url("_styleNews.less");
@import url("_styleFeatures.less");
@import url("_styleTopos.less");
@import url("_styleFeaturesHome.less");
@import url("_styleTextosLaterais.less");
@import url("_styleListagemProdutos.less");
@import url("_styleQuadroDeAbas.less");
@import url("_styleQuadroDeAbasPagProdutos.less");
@import url("_styleAbasMarcasProdutos.less");
@import url("_styleNossasMarcas.less");
@import url("_styleNossaHistoria.less");
@import url("_styleSliderSalinaMiramar.less");
@import url("_styleformularioFaleConosco.less");
@import url("_styleMapaDeAtuacao.less");
@import url("_styleListaDeMarcas.less");
@import url("_styleNossosProjetos.less");
@import url("_styleCentrosDeDistribuicao.less");
@import url("_styleInternaResponsabilidade.less");
@import url("_styleNovidades.less");





/*-----------------------------------------------
	Linha de produção
-----------------------------------------------*/
@media only screen and (min-width: 320px) {
	section#linha-prod-mobile {
		display: block;
	}
	section#linha-prod-desk {
		display:none;
	}
}
@media only screen and (min-width: 480px) {}
@media only screen and (min-width: 600px) {}
@media only screen and (min-width: 768px) {} //col-sm
@media only screen and (min-width: 830px) {}
@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1120px) {
	section#linha-prod-mobile {
		display: none;
	}
	section#linha-prod-desk {
		display:block;
	}
	section.linha-de-producao {
		position: relative;
		height: 1400px;
		display: block;
		//overflow: hidden;
	}
	section.linha-de-producao h5 {
		.texto-openSans;
		font-size: 2.1em;
		color:#2da8db;
		font-weight: bold;
		text-transform: uppercase;
		margin:0;
		padding: 0;
	}
	section.linha-de-producao p {
		.texto-openSans;
		font-size: 2.1em;
		color:#005282;
		margin:0;
		padding: 0;
	}
	section.linha-de-producao div.itens-da-linha {
		position: absolute;
	}

	section.linha-de-producao .foto-extracao-das-aguas {
		top:47px;
		left:46px - 90px;
	}
	section.linha-de-producao .linha-passo-1-2 {
		top:200px;
		left:209px - 90px;
	}
	section.linha-de-producao .numero-1 {
		top:154px;
		left:194px - 90px;
	}
	section.linha-de-producao .texto-extracao-das-aguas {
		top:81px;
		left:247px - 90px;
		width:410px;
		padding-left: 15px;
		border-left:solid 5px #006097;
	}
	/*--------------------------------------------------*/
	section.linha-de-producao .foto-transporte-da-agua {
		top:203px;
		left:466px - 90px;
	}
	section.linha-de-producao .linha-passo-2-3 {
		top:384px;
		left:587px - 90px;
	}
	section.linha-de-producao .numero-2 {
		top:359px;
		left:541px - 90px;
	}
	section.linha-de-producao .texto-transporte-da-agua {
		top:230px;
		left:660px - 90px;
		width:410px;
		padding-left: 15px;
		border-left:solid 5px #006097;
	}
	/*--------------------------------------------------*/
	section.linha-de-producao .foto-a-evaporacao {
		top:511px;
		left:913px - 90px;
	}
	section.linha-de-producao .linha-passo-3-4 {
		top:640px;
		left:591px - 90px;
	}
	section.linha-de-producao .numero-3 {
		top:591px;
		left:888px - 90px;
	}
	section.linha-de-producao .texto-a-evaporacao {
		top:511px;
		left:465px - 90px;
		width:410px;
		padding-right: 15px;
		border-right:solid 5px #006097;
		text-align: right;
	}
	/*--------------------------------------------------*/
	section.linha-de-producao .foto-a-filtragem {
		top:650px;
		left:470px - 90px;
	}
	section.linha-de-producao .linha-passo-4-5 {
		top:834px;
		left:215px - 90px;
	}
	section.linha-de-producao .numero-4 {
		top:815px;
		left:541px - 90px;
	}
	section.linha-de-producao .texto-a-filtragem {
		top:677px;
		left:51px - 90px;
		width:410px;
		padding-right: 15px;
		border-right:solid 5px #006097;
		text-align: right;
	}
	/*--------------------------------------------------*/
	section.linha-de-producao .foto-a-cristalizacao {
		top:959px;
		left:26px - 90px;
	}
	section.linha-de-producao .linha-passo-5-6 {
		top:1086px;
		left:211px - 90px;
	}
	section.linha-de-producao .numero-5 {
		top:1037px;
		left:194px - 90px;
	}
	section.linha-de-producao .texto-a-cristalizacao {
		top:968px;
		left:251px - 90px;
		width:410px;
		padding-left: 15px;
		border-left:solid 5px #006097;
	}
	/*--------------------------------------------------*/
	section.linha-de-producao .foto-por-fim-a-colheita {
		top:1092px;
		left:466px - 90px;
	}
	section.linha-de-producao .linha-pontilhada {
		top:1271px;
		left:589px - 90px;
	}
	section.linha-de-producao .numero-6 {
		top:1256px;
		left:541px - 90px;
	}
	section.linha-de-producao .texto-por-fim-a-colheita {
		top:1115px;
		left:664px - 90px;
		padding-left: 15px;
		border-left:solid 5px #006097;
	}

}

@media only screen and (min-width: 1200px) {
	section#linha-prod-mobile {
		display: none;
	}
	section#linha-prod-desk {
		display:block;
	}
	section.linha-de-producao {
		position: relative;
		height: 1400px;
		display: block;
		overflow: hidden;
	}
	section.linha-de-producao h5 {
		.texto-openSans;
		font-size: 2.1em;
		color:#2da8db;
		font-weight: bold;
		text-transform: uppercase;
		margin:0;
		padding: 0;
	}
	section.linha-de-producao p {
		.texto-openSans;
		font-size: 2.1em;
		color:#005282;
		margin:0;
		padding: 0;
	}
	section.linha-de-producao div.itens-da-linha {
		position: absolute;
	}

	section.linha-de-producao .foto-extracao-das-aguas {
		top:47px;
		left:46px;
	}
	section.linha-de-producao .linha-passo-1-2 {
		top:200px;
		left:209px;
	}
	section.linha-de-producao .numero-1 {
		top:154px;
		left:194px;
	}
	section.linha-de-producao .texto-extracao-das-aguas {
		top:81px;
		left:247px;
		width:410px;
		padding-left: 15px;
		border-left:solid 5px #006097;
	}
	/*--------------------------------------------------*/
	section.linha-de-producao .foto-transporte-da-agua {
		top:203px;
		left:466px;
	}
	section.linha-de-producao .linha-passo-2-3 {
		top:384px;
		left:587px;
	}
	section.linha-de-producao .numero-2 {
		top:359px;
		left:541px;
	}
	section.linha-de-producao .texto-transporte-da-agua {
		top:230px;
		left:660px;
		width:410px;
		padding-left: 15px;
		border-left:solid 5px #006097;
	}
	/*--------------------------------------------------*/
	section.linha-de-producao .foto-a-evaporacao {
		top:511px;
		left:913px;
	}
	section.linha-de-producao .linha-passo-3-4 {
		top:640px;
		left:591px;
	}
	section.linha-de-producao .numero-3 {
		top:591px;
		left:888px;
	}
	section.linha-de-producao .texto-a-evaporacao {
		top:511px;
		left:465px;
		width:410px;
		padding-right: 15px;
		border-right:solid 5px #006097;
		text-align: right;
	}
	/*--------------------------------------------------*/
	section.linha-de-producao .foto-a-filtragem {
		top:650px;
		left:470px;
	}
	section.linha-de-producao .linha-passo-4-5 {
		top:834px;
		left:215px;
	}
	section.linha-de-producao .numero-4 {
		top:815px;
		left:541px;
	}
	section.linha-de-producao .texto-a-filtragem {
		top:677px;
		left:51px;
		width:410px;
		padding-right: 15px;
		border-right:solid 5px #006097;
		text-align: right;
	}
	/*--------------------------------------------------*/
	section.linha-de-producao .foto-a-cristalizacao {
		top:959px;
		left:26px;
	}
	section.linha-de-producao .linha-passo-5-6 {
		top:1086px;
		left:211px;
	}
	section.linha-de-producao .numero-5 {
		top:1037px;
		left:194px;
	}
	section.linha-de-producao .texto-a-cristalizacao {
		top:968px;
		left:251px;
		width:410px;
		padding-left: 15px;
		border-left:solid 5px #006097;
	}
	/*--------------------------------------------------*/
	section.linha-de-producao .foto-por-fim-a-colheita {
		top:1092px;
		left:466px;
	}
	section.linha-de-producao .linha-pontilhada {
		top:1271px;
		left:589px;
	}
	section.linha-de-producao .numero-6 {
		top:1256px;
		left:541px;
	}
	section.linha-de-producao .texto-por-fim-a-colheita {
		top:1115px;
		left:664px;
		padding-left: 15px;
		border-left:solid 5px #006097;
	}

}
	
/*-----------------------------------------------
	Linha de produção - Fim
-----------------------------------------------*/